extends layout

block content
  .container
    section#team.section.team-section.pb-4.wow.fadeIn(data-wow-delay='0.3s')
      h2.font-weight-bold.text-center.h1.my-5 Our amazing team
      p.text-center.grey-text.mb-5.mx-auto.w-responsive
        | Tưới, tưới nữa, tưới mãi, mấy bạn ngày nào cũng phải tưới cây các bạn có thấy mệt hông? Thay vì vậy thì các bạn để SmartfarmIO của tụi mình giúp các bạn tự động tưới cây, theo dõi cây từ xa, thích thì bấm nút cho tưới, không thích thì nghỉ tưới. Mấy bạn thấy xịn hông? Mấy bạn hiểu hông?
      .row.mb-lg-4.text-center.text-md-left
        .col-lg-6.col-md-12.mb-4
          .col-md-6.float-left
            .avatar.mx-auto.mb-md-0.mb-3
              img.z-depth-1(src='/img/quang.jpg')
          .col-md-6.float-right
            h4
              strong Bùi Nhật Quang
            h6.font-weight-bold.grey-text.mb-2 Project manager
            a.mr-3.fa-lg.fb-ic(href='http://fb.com/LightNQ')
              i.fa.fa-facebook  
            a.mr-3.fa-lg.tw-ic
              i.fa.fa-twitter
            a.mr-3.fa-lg.dribbble-ic
              i.fa.fa-dribbble
            p.grey-text
              | You don't know what you don't know. The only easy day was yesterday.
        .col-lg-6.col-md-12.mb-4
          .col-md-6.float-left
            .avatar.mx-auto.mb-md-0.mb-3
              img.z-depth-1(src='/img/hao.jpg')
          .col-md-6.float-right
            h4
              strong Nguyễn Văn Hảo
            h6.font-weight-bold.grey-text.mb-2 Back-end developer
            a.mr-3.fa-lg.fb-ic(href='http://fb.com/vanhao.nguyen.313')
              i.fa.fa-facebook  
            a.mr-3.fa-lg.tw-ic
              i.fa.fa-twitter
            a.mr-3.fa-lg.dribbble-ic
              i.fa.fa-dribbble
            p.grey-text
              | Cuộc sống mà. Quá mệt mỏi
        .col-lg-6.col-md-12.mb-4
          .col-md-6.float-left
            .avatar.mx-auto.mb-md-0.mb-3
              img.z-depth-1(src='/img/han.jpg')
          .col-md-6.float-right
            h4
              strong Lâm Khả Hân
            h6.font-weight-bold.grey-text.mb-2 QA/QC
            a.mr-3.fa-lg.fb-ic(href='http://fb.com/lkhan97')
              i.fa.fa-facebook  
            a.mr-3.fa-lg.tw-ic
              i.fa.fa-twitter
            a.mr-3.fa-lg.dribbble-ic
              i.fa.fa-dribbble
            p.grey-text
              | Khi bạn chết, bạn không nhận thức được điều đó mà chỉ những người xung quanh bạn biết...và khi bạn ngu cũng vậy
        .col-lg-6.col-md-12.mb-4
          .col-md-6.float-left
            .avatar.mx-auto.mb-md-0.mb-3
              img.z-depth-1(src='/img/hoai.jpg')
          .col-md-6.float-right
            h4
              strong Phạm Thị Thanh Hoài
            h6.font-weight-bold.grey-text.mb-2 Front-end Developer
            a.mr-3.fa-lg.fb-ic(href='http://fb.com/IIILoveMyMom')
              i.fa.fa-facebook  
            a.mr-3.fa-lg.tw-ic
              i.fa.fa-twitter
            a.mr-3.fa-lg.dribbble-ic
              i.fa.fa-dribbble
            p.grey-text
              | Sau tất cả, tất cả cũng chỉ ở lại phía sau mà thôi....
          
        .row.text-center.text-md-left
          hr.my-5
          section#products.text-center.wow.fadeIn(data-wow-delay='0.3s')
            h1.font-weight-bold.text-center.h1.my-5 Hệ thống tưới thông minh SmartFarmIO
            p.text-center.grey-text.mb-5.mx-auto.w-responsive.lead
              | Được thừa hưởng công nghệ cao từ môn học IoT tại trường Đại học Khoa học Tự nhiên Tp.HCM, chúng tôi cung cấp một hệ thống với những chức năng tuyệt vời.
            .row
              .col-md-4.mb-4
                i.fa.fa-4x.fa-area-chart.pink-text
                h4.font-weight-bold.my-4 Analytics
                p.grey-text
                  | Thống kê theo dõi vườn cây của bạn mọi lúc mọi nơi.
              .col-md-4.mb-4
                i.fa.fa-4x.fa-connectdevelop.cyan-text
                h4.font-weight-bold.my-4 Online &amp; Offline
                p.grey-text
                  | Thiết lập, cài đặt cho hệ thống tưới của bạn bất cứ khi nào bạn muốn.
              .col-md-4.mb-4
                i.fa.fa-4x.fa-globe.indigo-text
                h4.font-weight-bold.my-4 Save the earth
                p.grey-text
                  | Với hệ thống tưới này, sẽ cắt giảm được đến 30% lượng nước so với cách tưới thông thường.
              hr.my-5
        section.section.wow.fadeIn(data-wow-delay='0.3s')
          h1.font-weight-bold.text-center.h1.my-5 Why is it so great?
          p.text-center.grey-text.mb-5.mx-auto.w-responsive.lead
            | Ứng dụng trên smartphone giúp bạn có thể kết nối đến khu vườn thông minh của bạn dù đang bất cứ đâu.
          .row
            .col-md-4
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-flag-checkered.indigo-text
                .col-10
                  h5.font-weight-bold.mb-4 3 cây 2 phút
                  p.grey-text
                    | Ứng dụng cài đặt dễ dàng, thiết lập chậu cây trong vòng 5s
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-tint.blue-text
                .col-10
                  h5.font-weight-bold.mb-4 Quản lí lượng nước
                  p.grey-text
                    | Giảm thiểu lượng nước cần tưới cho cây để tiết kiệm tối đa
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-clock-o.cyan-text
                .col-10
                  h5.font-weight-bold.mb-4 Tiết kiệm thời gian
                  p.grey-text
                    | Dành nhiều thời gian hơn cho những việc quan trọng, cây của bạn cứ để smart farm lo
            .col-md-4.mb-2.text-center.text-md-left.flex-center
              img.z-depth-0(src='/img/iphoneapp.png', alt='', style='width: 100%')
            .col-md-4
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-heart.deep-purple-text
                .col-10
                  h5.font-weight-bold.mb-4 Không lo âu
                  p.grey-text
                    | Bạn có thể cài đặt lịch tưới, chế độ tưới theo nhu cầu. 
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-flash.purple-text
                .col-10
                  h5.font-weight-bold.mb-4 Tốc độ
                  p.grey-text
                    | Hệ thống khởi động trong vòng một nốt nhạc, kết nối đến server ngay tức thì
              .row.mb-2
                .col-2
                  i.fa.fa-2x.fa-magic.pink-text
                .col-10
                  h5.font-weight-bold.mb-4 Phép màu
                  p.grey-text
                    | Là chìa khoá cứu cánh cho bạn khi đi chơi xa hoặc không có thời gian chăm sóc cây của bạn

        section#gallery.section.wow.fadeIn(data-wow-delay='0.3s')
          h1.font-weight-bold.text-center.h1.my-5 Our work
          p.text-center.grey-text.mb-5.mx-auto.w-responsive
            | Chúng tôi cung cấp một hệ thống toàn diện từ thiết bị đầu cuối đến hệ thống máy chủ, Webapp và Mobile App
          .row.pb-4
            .col-md-12
              #mdb-lightbox-ui
              .mdb-lightbox
                figure
                  a(href='/img/smart-farm.png', data-size='1600x1067')
                    img.img-fluid.z-depth-1(src='/img/smart-farm.png')
        hr.my-5